@use "../utils/variables" as variable;
@use "../utils/functions" as function;

.card {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: variable.$white;
 max-width: function.rem(320px);
 padding: function.rem(16px) function.rem(16px) function.rem(40px);
 border-radius: function.rem(20px);
 font-family: variable.$font-family;
 box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card__image {
 border-radius: function.rem(10px);
}

.card__header {
 font-weight: variable.$font-weight-bold;
 text-align: center;
 font-size: function.rem(22px);
 margin-top: function.rem(24px);
 color: variable.$slate-900;
 line-height: 1.2;
}

.card__text {
 font-weight: 400;
 font-size: function.rem(15px);
 color: variable.$slate-500;
 margin-top: function.rem(15px);
 margin-bottom: 0;
 text-align: center;
 line-height: 1.4;
 font-family: inherit;
 letter-spacing: 0.2px;
}
